[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "==1.17.11"
jupyterlab-git = "==0.30.0b2"
s3fs = "==0.3.4"
kafka-python = "==2.0.2"
beautifulsoup4 = "*"
bokeh = "*"
cloudpickle = "*"
cython = "*"
dask = "*"
dill = "*"
distributed = "*"
h5py = "*"
ipywidgets = "*"
jupyter-bokeh = "*"
jupyter-server = "==1.5.1"
jupyter-tensorboard = "*"
matplotlib = "==3.4.1"
numpy = "==1.19.2"
pandas = "==1.2.4"
plotly = "*"
pyarrow = "*"
scikit-image = "*"
scikit-learn = "==0.24.1"
scipy = "==1.6.2"
seaborn = "*"
sqlalchemy = "*"
statsmodels = "*"
tensorboard = "<2.0"
torch  = "*"
torchvision= "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
