[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "==1.17.11"
jupyterlab-git = "==0.30.0b2"
s3fs = "==0.3.4"
kafka-python = "*"
beautifulsoup4 = "*"
bokeh = "*"
cloudpickle = "*"
cython = "*"
dask = "*"
dill = "*"
distributed = "*"
h5py = "*"
ipywidgets = "*"
jupyter-bokeh = "*"
jupyter-tensorboard = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
pyarrow = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
sqlalchemy = "*"
statsmodels = "*"
tensorboard = "<2.0"
torch  = "*"
torchvision= "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
